.filmimage{
  width: 100%;
  height: auto;
  float: left;

}


@media only screen and (min-width: 600px) and (max-width: 960px)  {

  .filmimage{
    width: 50%;
  }

}


@media only screen and (min-width: 961px) and (max-width: 1400px)  {
  .filmimage{
    width: 25%;
  }
}

@media only screen and (min-width: 1401px)  {

  .filmimage{
    width: 20%;
  }
}
